{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <body>
        <section>
            
        </section>
    </body>
{% endblock %}