{% extends 'base.html.twig' %}
{% block body %}
    <body>
        {#    Navbar#}
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand">Recruitment</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-popper="collpase"
                        data-bs-target="#navmenu"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item text-center">
                            <span class="text-light btn btn-hover">Youness Zioual</span>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="text-light btn btn-hover">
                                <i class="bi bi-box-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        {#    Update Section#}
        <section class="mt-5 mb-5">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="text-uppercase">
                                    <i class="bi bi-pencil-fill"></i>
                                    Modify Your Profile, and then click Save
                                </h5>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    <div class="mb-3">
                                        <label for="image-input" class="form-label">Profile Photo </label>
                                        <input id="image-input" class="form-control" type="file" name="image">
                                        <input type="hidden" name="recruiter_id" >
                                    </div>
                                    <div class="mb-3">
                                        <label>Company Name</label>
                                        <input type="text" name="company-name" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="email" name="email"  class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label>Phone Number</label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <a href="{{ path('app_recruiters_updateprofile') }}">
                                            <button type="submit" class="btn btn-dark mt-3 px-4">Save</button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.session.flashbag.get('failure') %}
            <div class="alert alert-failure">{{ message }}</div>
        {% endfor %}
        {#    Footer Section#}
        <footer class="bg-dark py-3">
            <div class="container">
                <div class="d-flex text-black justify-content-between text-center">
                    <div>
                        <p class="text-muted m-2">Copy rights are reserved 2023</p>
                    </div>
                    <div>
                        <p class="text-muted m-2">Created In Casablanca With <i class="bi bi-heart-fill text-danger"></i> </p>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/younes-zioual-a739ba244/" class="btn btn-dark text-light" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://www.github.com/uness7" class="btn btn-dark text-light" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="https://www.instagram.com/waiziiii" class="btn btn-dark text-light" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
{% endblock %}